export(lexdiv_metric_ids)
export(lexdiv_lemmatize)
export(lexdiv_flemmatize)
export(lexdiv_grid)
export(lexdiv_length_evidence)
export(lexdiv_methods)
export(lexdiv_metrics)
export(lexdiv_metrics_batch)
export(lexdiv_metrics_text)
export(lexdiv_plan)
export(lexdiv_presets)
export(lexdiv_profile)
export(lexdiv_profile_batch)
export(lexdiv_screen)
export(lexdiv_spec)
export(lexdiv_tokenize)
export(lexdiv_variant_ids)
export(lexdiv_variant_metrics)
export(new_jacet8000_profile)
export(new_jacet8000_profile_batch)
export(tubelex_frequency_profile)
S3method(plot,lexical_level_profile)
S3method(print,lexdiv_batch_results)
S3method(print,lexical_level_profile)
S3method(print,lexdiv_profile_batch_results)
S3method(print,lexdiv_profile_results)
S3method(print,lexdiv_results)
S3method(print,lexdiv_text_results)
S3method(print,lexdiv_tokenization)
S3method(print,lexdiv_variant_results)
S3method(print,new_jacet8000_profile_batch)
S3method(print,tubelex_frequency_profile)
