export(lexdiv_metric_ids)
export(lexdiv_content_overlap)
export(lexdiv_lemmatize)
export(lexdiv_compare_annotations)
export(lexdiv_compare_responses)
export(lexdiv_flemmatize)
export(lexdiv_grid)
export(lexdiv_as_documents)
export(lexdiv_read_masc)
export(lexdiv_import_annotations)
export(lexdiv_ambiguity_review)
export(lexdiv_compare_ambiguity)
export(lexdiv_import_contextual)
export(lexdiv_evaluate_contextual)
export(lexdiv_as_quanteda)
export(lexdiv_length_evidence)
export(lexdiv_mattr_profile)
export(lexdiv_norm_profile)
export(lexdiv_norm_profile_batch)
export(lexdiv_ngrams)
export(lexdiv_ngram_reference)
export(lexdiv_ngram_profile)
export(lexdiv_ngram_compare)
export(lexdiv_ngram_reference_build)
S3method(print,lexdiv_ngrams)
S3method(print,lexdiv_ngram_reference)
S3method(print,lexdiv_ngram_profile)
S3method(print,lexdiv_norm_profile_batch)
export(lexdiv_methods)
export(lexdiv_metrics)
export(lexdiv_metrics_batch)
export(lexdiv_metrics_text)
export(lexdiv_metrics_text_batch)
export(lexdiv_overlap_ids)
export(lexdiv_plan)
export(lexdiv_presets)
export(lexdiv_profile)
export(lexdiv_profile_batch)
export(lexdiv_reference_coverage)
export(lexdiv_screen)
export(lexdiv_spec)
export(lexdiv_tokenize)
export(lexdiv_tokenize_batch)
export(lexdiv_term_overlap)
export(lexdiv_variant_ids)
export(lexdiv_variant_metrics)
export(lexdiv_widen)
export(nj8_profile)
export(nj8_profile_batch)
export(nj8_diagnostics)
export(tubelex_profile)
export(tubelex_profile_batch)
S3method(plot,lexical_level_profile)
S3method(plot,lexdiv_batch_results)
S3method(plot,lexdiv_mattr_profile)
S3method(plot,lexdiv_profile_batch_results)
S3method(plot,lexdiv_profile_results)
S3method(plot,lexdiv_reference_coverage)
S3method(plot,lexdiv_results)
S3method(plot,lexdiv_screen_results)
S3method(plot,lexdiv_text_results)
S3method(plot,lexdiv_text_batch_results)
S3method(plot,tubelex_profile)
S3method(print,lexdiv_batch_results)
S3method(print,lexdiv_overlap)
S3method(print,lexical_level_profile)
S3method(print,lexdiv_profile_batch_results)
S3method(print,lexdiv_profile_results)
S3method(print,lexdiv_reference_coverage)
S3method(print,lexdiv_grid)
S3method(print,lexdiv_mattr_profile)
S3method(print,lexdiv_norm_profile)
S3method(print,lexdiv_plan)
S3method(print,lexdiv_results)
S3method(print,lexdiv_spec)
S3method(print,lexdiv_text_results)
S3method(print,lexdiv_text_batch_results)
S3method(print,lexdiv_tokenization)
S3method(print,lexdiv_wide_results)
S3method(print,lexdiv_variant_results)
S3method(print,nj8_profile_batch)
S3method(print,tubelex_profile)
export(tubelex_diagnostics)
